.cart {
    background: #000;
    display: none;
    padding: 32px;
    position: absolute;
    right: 0;
    top: 90px;
    width: 200px;
    border-radius: 10px;
}

.cart-pointer{
    background: #000;
    width: 20px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: 140px;
    transform: rotate(227deg);
}

.cart-list{
    max-height: 725px;
    overflow: auto;
}

.cart-list::-webkit-scrollbar{
    width: 7px;
}

.cart-list::-webkit-scrollbar-track{
    background: #2a2a2a;
}

.cart-list::-webkit-scrollbar-thumb{
    background: #a9a6a6;
}

.cart img {
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 16/9;
    display: block;
    object-fit: cover;
    background: #fff;
}

.cart li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
}

.cart footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.cart footer button {
    padding: 8px;
}

.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #000;
    color: #fff;
    border-radius: 9999px;
    cursor: pointer;
    height: 32px;
    padding: 4px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9998px;
}

.cart-button:hover {
    scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
    max-height: 82%;
    display: block;
}

.quantity-number{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 20px;
    margin: 0;
    background: rgb(233, 55, 55);
    border-radius: 9999px;
}

.clear-button{
    margin-top: 15px;
}